<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:auto]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Language Translator">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-primary-100 antialiased h-screen">
    <header class="px-4 sm:px-6 lg:px-8 bg-primary-300 h-18">
      <div class="flex items-center justify-between border-secondary-950 py-3 text-md">
        <div class="flex items-center gap-4">
          <a href="/" class="w-10 fill-secondary-950 hover:fill-zinc-700">
            <.logo />
          </a>
          <.link href={~p"/"}>
            <h1 class="bg-primary-100/5 text-secondary-950 rounded-full px-2 font-semibold leading-6 hover:text-zinc-700">
              Language Translator
            </h1>
          </.link>
          <.link
            href={~p"/analysis"}
            class="text-md leading-6 text-zinc-900 font-medium hover:text-zinc-700"
          >
            Analyses
          </.link>
          <.link
            href={~p"/words"}
            class="text-md leading-6 text-zinc-900 font-medium hover:text-zinc-700"
          >
            Words
          </.link>
          <.link
            href={~p"/languages"}
            class="text-md leading-6 text-zinc-900 font-medium hover:text-zinc-700"
          >
            Languages
          </.link>
          <%= if @current_user && @current_user.is_admin do %>
            <.link
              href={~p"/users"}
              class="text-md leading-6 text-zinc-900 font-medium hover:text-zinc-700"
            >
              Users
            </.link>
          <% end %>
        </div>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          <div class="text-red-500">
            THIS IS FOR EDUCATIONAL PURPOSES ONLY
          </div>
          <%= if @current_user do %>
            <div class="grid grid-rows-1 text-md leading-6 text-zinc-900 text-right">
              <span>Logged in as:</span>
              <.link
                href={~p"/users/settings"}
                class="text-md leading-6 text-secondary-900 font-semibold hover:text-zinc-700"
              >
                <%= @current_user.username %>
              </.link>
            </div>
            <div></div>
            <div>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-md leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log out
              </.link>
            </div>
          <% else %>
            <div>
              <.link
                href={~p"/users/register"}
                class="text-lg leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Register
              </.link>
            </div>
            <div>
              <.link
                href={~p"/users/log_in"}
                class="text-lg leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log in
              </.link>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
